[submodule "CCJSON"]
	path = CCJSON
	url =  git://github.com/nilobject/CCJSON.git

[submodule "SciFi"]
	path = scifi
	url = git://github.com/ldandersen/scifihifi-iphone.git

[submodule "ASI"]
	path = ASI
	url = git://github.com/pokeb/asi-http-request.git
